# List & Tuple

In [1]:
# A built in data type stores set of values
# It can store elements of different type (integer, f;oat, string, etc)

marks = [84,38,28,48,94] #marks[0],marks[1]...
print(marks)
print(marks[0])
print(marks[1])
print(type(marks))

student=["Kamal",84,"Tikuliya"] #student[0], student[1]...
print(student)

# Remamber
# string --> immutable
# list ---> muttable

student[0]="TN Sah" #Allowed in python
print(student)
len(student)

[84, 38, 28, 48, 94]
84
38
<class 'list'>
['Kamal', 84, 'Tikuliya']
['TN Sah', 84, 'Tikuliya']

3

# List Slicing

In [2]:
# similar to string slicing
# list_name[stating_idx:ending_idx] #ending idx is not included

mkr=[97,38,38,78,37,94,83,93,37]
print(mkr[1:4])
print(mkr[:4])
print(mkr[1:])
mkr[3:7]

[38, 38, 78]
[97, 38, 38, 78]
[38, 38, 78, 37, 94, 83, 93, 37]

[78, 37, 94, 83]

# List Methods

In [3]:
list1=[6,5,2,6,7,3,2,8,3]

list1.append(10) #adds one element at the end and return Nane valu
print(list1)

list2=["banana","litchi","apple"]

list2.sort() #sorts in asscending order and return Nane valu
print(list2)

list2.reverse()
print(list2)

list1.sort(reverse=True)
print(list1)

# list1.insert(idx, el) #insert element at index
list1.insert(2, 90)
print(list1)

list1=[6,5,2,6,7,3,2,8,3]

list1.remove(3) #remove fist occurerrence of element
print(list1)

# list.pop(idx) #remove element at idx
list1.pop(3)
print(list1)

[6, 5, 2, 6, 7, 3, 2, 8, 3, 10]
['apple', 'banana', 'litchi']
['litchi', 'banana', 'apple']
[10, 8, 7, 6, 6, 5, 3, 3, 2, 2]
[10, 8, 90, 7, 6, 6, 5, 3, 3, 2, 2]
[6, 5, 2, 6, 7, 2, 8, 3]
[6, 5, 2, 7, 2, 8, 3]

# Tuple

In [4]:
# A built in data type that lats us crate immutable sequence of valus (just like string)

tup=(84,45,64,34,35) #tup[0], tup[1]...
print(tup)
print(tup[0])
print(type(tup))

# tup[0]=45 #NOT allowed in python

tup1=() #It is a valid tuple
print(tup1)
print(type(tup1))

tup21=(1) #python consider this value is int or other os we can use bello method
print(tup21)
print(type(tup21))

tup2=(1,) #it is a correct weay to create single valu tuple ( in multivalu comma(,) is optional)
print(tup2)
print(type(tup2))

(84, 45, 64, 34, 35)
84
<class 'tuple'>
()
<class 'tuple'>
1
<class 'int'>
(1,)
<class 'tuple'>

# Methods of tuple

In [5]:
tup=(5,2,5,6,7,2,6,3,6)

print(tup.index(7)) #returns index of fist occurrence

print(tup.count(6)) #conts total occurrence

4
3

In [6]:
# #WAP to take input from usr and create list
# list=[]
# list1=input("Enter name: ")
# list2=input("Enter name: ")
# list3=input("Enter name: ")
# list.append(list1)
# list.append(list2)
# list.append(list3)
# print(list)

In [18]:
#WAP to check if list is palindrom or not

list=[1,2,3,2,1]

list1=list.copy()
list1.reverse()
print(list1)

if(list == list1):
    print("Palendrom")
else:
    print("Not")

[1, 2, 3, 2, 1]
Palendrom

In [20]:
#WAP to count student wint grade "A" using tuple

tup=("A","D","A","B","A","C")

print(tup.count("A"))

3