In [1]:
#print function is use to print or display some thing in the screen 
# syntex with example 
print("Namaste Duniya!")

Namaste Duniya!

In [2]:
# python character set
# -letter: A-Z , a-z
# digit: 0-9
# special symbols: +,-,/,*,etc
# whitespace: blankspace, tab, carriage return, newline, formfeed
# other character: python can process all ASCII and unicode character as part of data or literals
print ("Hi")
print ("TN Sah")
print("Hi" , "TN Sah") #comma is use to print 2 diffrent line in the same line that mean we can concatinet the stmt
print(23)
print (12+34) #we can able to arthamatic operation in print statement
print (12*34)
print("23") #if we can use double quots or single quots in numirical valu then it acts as a string

Hi
TN Sah
Hi TN Sah
23
46
408
23

In [3]:
# veriables: is a name given to a memory location in a program
# syntex and example
name = "TN Sah"
age = 23
bookPrice = 25.98
print("veriable value is :" , name , age , bookPrice)
print ("my name is " , name ,"and age " , age)

veriable value is : TN Sah 23 25.98
my name is  TN Sah and age  23

# Ruses for identifiers

In [4]:
# 1. identifiers can conbination of uppercase and lowercase letters, digits or an underscore(_). 
# so myVariable, variable_1, varibal_for_print all are valid python identifiers.
# 2. An identifier can start with digits. So while varibal1 is valid, 1varibal is not valid.
# 3. We can't use spaceial symbols like !, #, @, %, $, etc in our identifier.
# 4. idntifier can be of any length.
# but in general we can use simple short and mening full varival

# Data Types

In [5]:
 # To find the data type using keyword - type 
# syntax & example 
print (type(name))
print (type(age))
print (type(bookPrice))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
# in python datatype can be divide in 2 type 
# primary or primitive datatype
# primary contane: integers, string, float, Boolean, None
# exampe
# string
str = 'TN'
str1 = "Sah"
str2 = '''test string'''
print (str, str1, str2)

TN Sah test string

In [7]:
# float canstor the floating value 
# boolean is store True and False valu remember in boolean T & F is capital letter
# Nane is use to not store data, remember N is capital letter eg. 
rollNum = None
print(type(rollNum))

<class 'NoneType'>

# Keywords

In [8]:
    # and            # else           # in             # return    
    # as             # except         # is             # True
    # assert         # finally        # lambda         # try
    # break          # False          # nonlocal       # with
    # class          # for            # None           # while
    # continue       # from           # not            # yield 
    # def            # global         # or
    # del            # if             # pass
    # elif           # import         # raise

In [9]:
# List of Python keywords
keywords = [
    'False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break',
    'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally',
    'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal',
    'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'
]

# Sort the keywords alphabetically
sorted_keywords = sorted(keywords)

# Print the sorted keywords
for keyword in sorted_keywords:
    print(keyword)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

# Print Sum

In [10]:
# nun-primitive datatype eg oblecst, class, etc
# leatn in next chapter or opps chapter

# python is casesensitive

# program to print sum

a = 10200
b = 20100
sum = a + b
print(sum)

30300

# Operators in Python

In [11]:
# Type of operators
# An operators is a symbole that performes a certain operation between operands

# Arthmatic operators(+,-,*,/,%,**)

# Relational / Comparison operators(==,!=,<,>,<=,>=)

# Assignment operators(=,+=,-=,*=,/=,%=,**=)

# Logical operators(not,and,or)

In [12]:
# example of arthmatic
a=3
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

8
-2
15
0.6
3
243

In [13]:
#example of relational
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a!=b)

False
False
True
True
True

In [14]:
# Logical operator
c=True
d=False
print(c or d)
print(c and d)
print(not c)
print(c or not d)

True
False
False
True

# Type Conversion

In [15]:
# python can automaticaly do in type conversion
a=2
b=3.5
sum=a+b #implicity conversion done by python
print(sum)

5.5

# Type casting

In [16]:
a="3"
b=5.4
print(float(a)+b)

8.4

In [17]:
# python punctuator: are use to organize sentence structure in programming
# (). {}, [], #, etc
# -=, +=, *=, /=, =, etc
# python is type language: it is implicity tupe language

# Expression Execution

In [18]:
#string and numberic values can operate together with (repitation)
A, B = 2, 3
Txt = "@"
print(2*Txt*3)

@@@@@@

In [19]:
#string and string can operate with + (concatenation)
C, D = "2", 3
txt = "@"
print((C+txt)*D)

2@2@2@

In [20]:
#Numerical values can operate with all arthamtic operaters
a,b=2,3
c=4
print(a+b*c)

14

In [21]:
#Arithmatic expression with integer and float will result in float
d=4.34
print(a*d)

8.68

In [22]:
#Result of devision operator with integers will be float
print(a/b)

0.6666666666666666

In [23]:
#integer division with float and int will given int displayed as float (it can give smallest int value)
#integer division (//)
f=d//a
print(f, d/a)

2.0 2.17

In [24]:
#floor gives closest integer, which is lesser than or equal to the float value
#Result of (A//B) is same as floor(A/B)
a,b=12,5
c=a//b
print(c)

2

In [25]:
a,b=-12,5
c=a//b
print(c)

-3

In [26]:
a,b=-12,-5
c=a//b
print(c)

2

In [27]:
a,b=12,-5
c=a//b
print(c)

-3

In [28]:
#Remainder is negative when denominator is negative
a,b=5,2
c=a%b
print(c)

1

In [29]:
a,b=-5,2
c=a%b
print(c)

1

In [30]:
a,b=-5,-2
c=a%b
print(c)

-1

In [31]:
a,b=5,-2
c=a%b
print(c)

-1

# Comments in Python

In [32]:
#single line comment

'''
This is a multiline comment.
It can span multiple lines.
These lines are not executed as code.
it is not recomendeted
'''

print("Hello, world!")

Hello, world!

# input in Python

In [33]:
# input() statement is used to accept values (using keyword) from user
#string input
name=input("name is: ")
#int input
age=input("age is: ")
# float input
bookPrice=input("Book Price is: ")
print("My name is", name,"and age", age,"Book Price is", bookPrice)

name is: TN Sah
age is: 23
Book Price is: 70.97
My name is TN Sah and age 23 Book Price is 70.97